# From: https://simonwillison.net/2021/Mar/5/git-scraping/
# Example: https://github.com/simonw/disaster-scrapers/blob/2511decf8d9a317d4db8ef1e6c4ca2069aaaee77/.github/workflows/scheduled.yml#L1

name: Download images from meteocam
# https://www.meteocampoo.es/webcam/actual/18-valderredible-navamuel.jpg

on:
  # This event allows to trigger the workflow manually from
  # https://github.com/patoroco/download_cam/actions/workflows/scheduled.yml
  workflow_dispatch:

  # This event occurs when a GitHub App sends a POST request to /repos/{owner}/{repo}/dispatches.
  # https://docs.github.com/developers/webhooks-and-events/webhooks/webhook-events-and-payloads#repository_dispatch
  repository_dispatch:

jobs:
  download_and_commit:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Configure git
        run: |-
          git config user.name "Github Actions"
          git config user.email "actions@users.noreply.github.com"

      - name: Download image
        run: |-
          IMAGE_URL=https://www.meteocampoo.es/webcam/actual/20-valderredible-navamuel.jpg
          FORMATED_DATE=`TZ='Europe/Madrid' date +'%Y/%m/%d/%Y-%m-%d_%H-%M'`
          curl $IMAGE_URL --create-dirs -o imgs/$FORMATED_DATE.jpg

      - name: Merging images
        run: python cleaning_directories.py

      - name: Add and commit the images
        run: |-
          timestamp=$(date -u)
          git add .
          git commit -am "Latest data: ${timestamp}" || exit 0

      - run: git push
